<label>Server Name: </label>
<input
  (input)="onUpdateServerName($event)"
  type="text"
  [(ngModel)]="serverName">
<!---<p>{{ serverName }}</p>-->
<button
  [disabled]="!allowNewServer"
  (click) = "onCreateServer()">Add server</button>
<p [ngClass]="{online: this.serverStatus === 'online'}"
  [ngStyle]="{backgroundColor:getColor()}"
  *ngFor="let server of servers">
  Server {{serverID}} is {{serverStatus}}
</p>
<!--<p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p>-->
<h1 *ngIf="isServerCreated; else noServer">Server was created, server was {{ serverName }}</h1>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>

